:root {
    --grid-size: 10;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
}

footer, main {
    display: flex;
    align-items: center;
}

header, footer {
    text-align: center;
    padding: 0.5rem 1rem;
}

footer {
    justify-content: space-between;
}

main {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

#grid {
    background-color: rgb(0, 0, 0);
    aspect-ratio: 1 / 1;
    width: min(50%, 60vh);

    display: grid;
    grid-template-rows: repeat(var(--grid-size), 1fr);
    grid-template-columns: repeat(var(--grid-size), 1fr);
    padding: min(1vw, 1vh);
    gap: 1%;
}

.cell {
    background-color: white;
    padding: calc(2rem / var(--grid-size));
}

.disabled {
    background-color: #aaa;
}